a {
  color: rgb(85, 60, 22);
  text-decoration: none;
}

h1 {
  font-weight: 500;
  color: salmon;
}

.main-wrapper {
  padding: 0 5rem;
}

.cards_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.project_card {
  padding: 20px 15px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 2rem;
}
